<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cotizaciones">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>Cotizaciones</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pendientes">
      <ion-icon name="trail-sign"></ion-icon>
      <ion-label>En Sucursales</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="facturas">
      <ion-icon name="checkmark-done"></ion-icon>
      <ion-label>Facturados</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
