<ion-grid>
  <ion-row class="ion-align-items-stretch">
    <ion-col size="12" size-sm="4" push-sm="8">
      <ion-item>
        <ion-label position="stacked"> Habilitar</ion-label>
        <ion-toggle
          (ionChange)="setEnvio($event)"
          [checked]="form.enabled"
        ></ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col size="12" size-sm="8" pull-sm="4">
      <sxcc-envio-tipo [parent]="form" class="tipo"></sxcc-envio-tipo>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <papx-transporte-field
        [parent]="form"
        [disabled]="disabledTransporte"
      ></papx-transporte-field>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col [formGroup]="form">
      <sxcc-envio-direccion
        formControlName="direccion"
        [direcciones]="direcciones$ | async"
      ></sxcc-envio-direccion>
      <ion-note
        color="danger"
        *ngIf="controls.direccion.hasError('required') && form.dirty"
      >
        Se requiere la dirección
      </ion-note>
    </ion-col>
  </ion-row>
  <ion-row [formGroup]="form">
    <ion-col size="12" size-md="6">
      <ion-item [disabled]="form.get('contacto').disabled">
        <ion-icon name="person-circle" slot="start" color="dark"></ion-icon>

        <ion-label position="floating">Contacto *</ion-label>
        <ion-input
          formControlName="contacto"
          class="ion-text-capitalize"
          autocapitalize="on"
        ></ion-input>
        <ion-icon
          name="checkmark"
          color="success"
          slot="end"
          *ngIf="controls.contacto.valid && form.dirty"
        ></ion-icon>
      </ion-item>
      <ion-note
        color="danger"
        *ngIf="controls.contacto.hasError('required') && form.dirty"
      >
        Se requiere el nombre del contacto
      </ion-note>
      <ion-note
        class="ion-padding-start ion-padding-top"
        *ngIf="controls.contacto.hasError('minlength')"
      >
        Mínimo 5 caracteres
      </ion-note>
      <ion-note
        class="ion-padding-start ion-padding-top"
        *ngIf="controls.contacto.hasError('maxlength')"
      >
        Máximo 50 caracteres
      </ion-note>
    </ion-col>
    <ion-col size="12" size-md="6">
      <ion-item [disabled]="controls.telefono.disabled">
        <ion-icon name="call" color="dark" slot="start"></ion-icon>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input
          type="tel"
          formControlName="telefono"
          inputmode="tel"
        ></ion-input>
        <ion-icon
          name="checkmark"
          color="success"
          slot="end"
          *ngIf="controls.telefono.valid && form.dirty"
        ></ion-icon>
      </ion-item>
      <ion-note
        class="ion-padding-start"
        color="danger"
        *ngIf="
          (controls.telefono.hasError('minlength') ||
            controls.telefono.hasError('maxlength') ||
            controls.telefono.hasError('required')) &&
          form.dirty
        "
      >
        Se requiere número a 10 digitos
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row [formGroup]="form">
    <ion-col size="12" size-md="6">
      <papx-date-field
        formControlName="fechaDeEntrega"
        label="Entrega"
      ></papx-date-field>
    </ion-col>
    <ion-col>
      <sxcc-envio-horario-field
        formControlName="horario"
      ></sxcc-envio-horario-field>
      <ion-note
        color="danger"
        class="ion-padding-start ion-padding-top"
        *ngIf="controls.horario.hasError('tooEarly')"
      >
        Debe haber al menos 1 hora de intervalo
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row [formGroup]="form">
    <ion-col>
      <ion-item>
        <ion-label position="floating">Comentario </ion-label>
        <ion-textarea
          formControlName="comentario"
          class="ion-text-capitalize"
        ></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
