<ion-list>
  <ion-item
    *ngFor="let pedido of facturas; index as idx"
    detail
    [routerLink]="pedido.id"
  >
    <ion-label class="ion-text-wrap">
      <h2>
        {{ pedido.nombre }}
        <span class="ion-padding-start ion-hide-md-down">
          F.Pago: {{ pedido.formaDePago }}
        </span>
      </h2>
      <p>
        <span>
          Factura:
          <ion-text color="primary">
            {{ pedido.factura.serie }}-{{ pedido.factura.folio }}
          </ion-text>
        </span>
        <span class="ion-padding-start">
          {{ pedido.sucursal }}
        </span>

        <span class="ion-padding-start">
          {{ pedido.fecha.toDate() | date: "dd/MM/yyyy" }}
        </span>

        <sub class="ion-padding-start"> ({{ pedido.updateUser }}) </sub>
      </p>
    </ion-label>

    <ion-badge slot="start" color="tertiary"> {{ pedido.folio }} </ion-badge>
    <ion-chip slot="end" color="success">
      {{ pedido.total | currency }}
    </ion-chip>
  </ion-item>
</ion-list>
