ion-item {
  // padding-top: 2px;
  --padding-top: 10px;
}
.row-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9rem;
  span:nth-child(n + 2) {
    padding-left: 10px;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  align-items: center;
  font-size: 0.9rem;
}

.row-3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8rem;
  span:nth-child(n + 2) {
    padding-left: 10px;
  }
}

span[vendedor] {
  font-style: italic;
  color: var(--ion-color-warning);
}

span[comentario] {
  font-style: italic;
  font-size: 0.8rem;
  color: var(--ion-color-secondary);
}
span[descuento-especial] {
  font-style: italic;
  font-size: 0.8rem;
  color: var(--ion-color-warning);
}
