table {
  font-family: Verdana;
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 10px;
  text-align: left;
  margin: 0;
}

tbody tr:nth-child(2n) {
  background-color: rgb(168, 104, 104);
  // background-color: var(--ion-color-medium-tint);
}

thead th {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
}

tfoot th {
  position: sticky;
  bottom: 0;
  background-color: #333;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  color: white;
}
