<ion-list class="ion-no-padding" mode="ios">
  <papx-pedido-item
    *ngFor="let it of items; index as idx"
    [item]="it"
    [index]="idx"
    [disabled]="disabled"
    (selection)="onSelection(idx, $event)"
    (eliminar)="onDeleteItem(idx)"
    (duplicar)="onDuplicar(idx)"
  ></papx-pedido-item>
</ion-list>
<ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="fabButton">
  <ion-fab-button (click)="addItem.emit()" size="small" [disabled]="disabled">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
