.cliente-section {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 7px;
}

.main-row {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  font-size: 1rem;
}

.info-row {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  font-size: 0.8rem;
}
.address {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  font-size: 1rem;
  font-style: italic;
  color: var(--ion-color-medium-shade);
}
