<ng-container *ngIf="vm$ | async as vm">
  <ion-content>
    <papx-pedido-form
      #form
      [data]="vm.pedido"
      (save)="onSave(vm.pedido.id, $event, vm.user)"
      (cerrarPedido)="onCerrar(vm.pedido.id, $event, vm.user)"
      (imprimir)="onPrint(vm.pedido, vm.user)"
      (email)="onEmail($event, vm.pedido, vm.user)"
      (delete)="onDelete(vm.pedido, vm.user)"
      (errors)="onErrors($event)"
      (warnings)="onWarnings($event)"
      (nuevo)="goToNuevoPedido($event)"
      (descuentEspecial)="onDescuentoEspecial($event)"
    ></papx-pedido-form>
  </ion-content>

  <ion-footer *ngIf="form.summary$ | async as summary">
    <ion-toolbar class="ion-no-padding">
      <ion-buttons slot="start">
        <ion-button (click)="form.addItem()" color="primary">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button
          *ngIf="errors && errors.length > 0"
          (click)="showErrors(errors)"
        >
          <ion-icon name="warning-outline" color="warning" slot="icon-only">
            <ion-badge slot="start">{{errors.length}}</ion-badge>
          </ion-icon>
        </ion-button>
        <papx-warnigs-btn [warnings]="warnings"></papx-warnigs-btn>
      </ion-buttons>
      <ion-title class="ion-text-center" color="success">
        Total: {{ summary['total'] | currency}}
        <ion-text color="warning">
          <small
            class="ion-padding-start"
            *ngIf="descuentEspecial <= 0 else especial"
          >
            Dscto: {{summary['descuento'] / 100 | percent}}
          </small>
          <ng-template #especial>
            <small class="ion-padding-start" *ngIf="descuentEspecial > 0">
              Dscto: {{descuentEspecial / 100 | percent}} (Original:
              {{summary['descuentoOriginal'] / 100 | percent}})
            </small>
          </ng-template>
        </ion-text>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button [disabled]="!form.canSubmit" (click)="form.submit()">
          <ion-icon name="save" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ng-container>
