/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";

@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
// @import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham-dark.css";
@import "~ionic4-auto-complete/auto-complete";

ag-grid-angular.ag-theme-alpine {
  .ag-row .ag-cell ion-button {
    margin: 0px;
    padding: 0px;
  }
  .ag-row .ag-cell {
    font-size: 0.8rem;
  }
  .ag-row {
    height: 0.5rem;
  }
}
.ag-row-hover {
  /* putting in !important so it overrides the theme's styling as it hovers the row also */
  background-color: #dfdfff !important;
}

.ag-column-hover {
  background-color: #dfffdf;
}

.create-solicitud-custom-alert {
  --min-width: 70%;
}

.solicitud-detail-modal {
  --width: 70%;
}

.banco-field-popup {
  --min-width: 70%;
  // --width
}
.cuenta-de-banco-field-popup {
  --min-width: 70%;
  // --width
}

.warnings-popover-component {
  --width: 80%;
}
.errors-popover-component {
  --width: 80%;
}

.autorizacion-de-pedido-alert .alert-wrapper {
  --width: 70%;
  --max-width: 70%;
  .alert-message {
    padding-bottom: 5px;
  }
  .alert-input-group {
    padding: 10px;
  }
}
.autorizacion-de-pedido-alert .alert-head {
  padding: 10px;
}

.pedido-nombre-modal .alert-wrapper {
  --width: 70%;
  --max-width: 70%;
  .alert-message {
    padding-bottom: 5px;
  }
  // .alert-input-group {
  //   // padding: 10px;
  //   height: 100%;
  // }
  // .alert-input-wrapper {
  //   height: 46px;
  // }
}

.pedido-nombre-modal .alert-input-wrapper {
  --height: 46px;
  input {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
  }
}

// .descuentos-voluman-modal .alert-input-wrapper {
//   --min-width: 70%;
//   --max-width: 70%;
//   input {
//     margin: 0;
//     font-size: 0.8rem;
//     text-transform: capitalize;
//   }
// }

ion-popover.menu {
  --width: 540px;
  --max-width: 100%;
  box-shadow: -8px 0 16px rgba(0, 0, 0, 0.12);
  border-radius: 0;
}

.pedido-item-modal {
  --background: #222;
  --width: 90%;
  --height: 90%;
}
.transporte-modal {
  --width: 90%;
  --height: 90%;
}

.pedido-search-modal {
  --max-width: 450px;
  --height: 300px;
}

.emal-target-popover {
  --width: 60%;
}

.pedido-popover-modal {
  --width: 65%;
}

.maniobra-modal {
  --width: 375px;
  --height: 250px;
}
