// .container {
//   border: 1px solid red;
//   height: 100%;
// }

// .pedido {
//   border: 1px solid green;
// }
.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .fecha {
    margin-left: auto;
    text-align: end;
  }
}
