<ng-container *ngIf="pedido$ | async as pedido">
  <ion-header>
    <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        <div class="title">
          <span>Pedido: </span>
          <span>{{pedido.folio}}</span>
          <span class="ion-padding-start">Cliente: </span>
          <ion-text>
            <span>{{pedido.nombre}}</span>
          </ion-text>

          <span class="fecha"
            >{{pedido.fecha.toDate() | date: 'dd/MM/yyyy'}}
          </span>
        </div>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button
          (click)="onPrint(pedido, user)"
          *ngIf="user$ | async as user"
        >
          <ion-icon name="print" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <papx-pedido class="pedido" [pedido]="pedido"></papx-pedido>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="medium">
      <ion-title>
        <span>Status: {{ pedido.status }}</span>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button
          *ngIf="pdf$ | async as pdf"
          [disabled]="!pdf"
          [href]="pdf"
          target="_blank"
        >
          <ion-icon name="document-text"></ion-icon>
          <ion-label>PDF</ion-label>
        </ion-button>
        <ion-button
          *ngIf="xml$ | async as xml"
          [disabled]="!xml"
          [href]="xml"
          target="_blank"
        >
          <ion-icon name="code"></ion-icon>
          <ion-label>XML</ion-label>
        </ion-button>

        <ion-button
          [disabled]="!pedido.factura"
          *ngIf="factura$ | async as fac"
          (click)="sendFactura(pedido, fac.pdfUrl, fac.xmlUrl)"
        >
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>Enviar</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ng-container>
